/* small device : ≥576px */
@media screen and (max-width: 576px) {
  #our-features,
  #lovely-features,
  #some-facts,
  #our-sponsors,
  footer {
    padding: 32.5px 0;
  }
  .section-heading {
    margin-bottom: 12px;
  }
  .section-desc {
    margin-bottom: 16px;
  }
  header {
    padding: 15px 0;
  }
  .nav-container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .nav-menu ul {
    gap: 25px;
  }
  #hero {
    padding-top: 40px;
  }
  .hero-contents {
    margin-bottom: 25px;
  }
  .hero-title {
    margin-bottom: 12px;
  }
  .hero-desc {
    margin-bottom: 16px;
  }
  .our-features-container {
    flex-direction: column;
    padding: 0 10px;
    gap: 15px;
  }
  .image-container {
    gap: 12px;
  }
}
