/* small device : ≥576px */
@media screen and (max-width: 576px) {
  #our-features,
  #lovely-features,
  #some-facts,
  #our-sponsors,
  footer {
    padding: 32.5px 0;
  }
  .section-heading {
    margin-bottom: 12px;
  }
  .section-desc {
    margin-bottom: 16px;
  }
  /* nav starts */
  nav {
    position: static;
  }
  .nav-container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .nav-menu {
    display: none;
  }
  .sm-nav-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: #fff4e6;
    padding: 13px 0;
  }
  .sm-nav-menu ul {
    gap: 25px;
  }
  /* nav ends */

  /* header starts */
  header {
    padding: 15px 0;
  }

  #hero {
    padding-top: 40px;
  }
  .hero-contents {
    margin-bottom: 25px;
  }
  .hero-title {
    margin-bottom: 12px;
  }
  .hero-desc {
    margin-bottom: 16px;
  }
  /* header ends */

  /* our-features starts */
  .our-features-container {
    flex-direction: column;
    padding: 0 10px;
    gap: 15px;
  }
  .image-container {
    gap: 12px;
  }
  /* our-features ends */

  /* lovely-features starts */
  .lovely-features-container {
    flex-direction: column-reverse;
    padding: 0 10px;
    gap: 15px;
  }
  .lovely-features-image {
    justify-content: center;
  }
  .architect-image-badge {
    font-size: 2rem;
    padding: 22.5px 20px;
    border-radius: 8px;
    display: inline-block;
    line-height: 15px;
    margin: -45px auto 0;
  }
  .architect-image-badge .small-text {
    font-size: 0.75rem;
  }
  .broken-break {
    display: none;
  }
  /* lovely-features ends */

  /* some-facts starts */
  .some-facts-container {
    padding: 0 10px;
  }
  .some-facts-contents {
    margin-bottom: 30px;
  }
  .some-facts-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .some-facts-card {
    width: 100%;
    height: auto;
    padding: 20px 17px 30px;
    display: flex;
    gap: 5px;
    text-align: center;
  }
  /* some-facts ends */

  /* our-sponsors starts */
  .our-sponsors-contents {
    margin: 0 auto 25px;
  }
  .sponsors-container {
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .sponsors-container > div {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* our-sponsors ends */

  /* footer starts */
  footer {
    padding: 0 10px;
  }
  /* footer ends */
}
