* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.primary-color {
  color: #ff900e;
}
.dark-1 {
  color: #131313;
}
.dark-2 {
  color: #424242;
}
.dark-3 {
  color: #727272;
  line-height: 26px;
}
.btn {
  color: white;
  font-weight: 600;
  font-size: 20px;
  background-color: #ff900e;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.25s ease,
    box-shadow 0.25s ease;
}
.btn:hover {
  background-color: #ffa231;
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.116);
}
/* header starts */
header {
  padding: 50px 0 45px;
  background-color: rgba(255, 144, 14, 0.1);
}
/* nav starts */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2.8rem;
  font-weight: bold;
}
.nav-menu ul {
  display: flex;
  gap: 75px;
}
.nav-menu ul a {
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
}
.nav-menu ul a:hover {
  text-decoration: 2px underline #ff900e;
  text-underline-offset: 5px;
}
/* nav ends */

/* hero section starts */
#hero {
  text-align: center;
  padding-top: 100px;
}
.hero-contents {
  max-width: 868px;
  margin: 0 auto 50px;
}
.hero-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.hero-desc {
  margin-bottom: 32px;
}
.hero-banner {
  margin: auto 10px;
}
.hero-banner img {
  border-radius: 8px;
}
/* hero section ends */
/* header ends */
