* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.dark-1 {
  color: #131313;
}
.dark-2 {
  color: #424242;
}
.dark-3 {
  color: #727272;
  line-height: 26;
}

/* header starts */
header {
  padding: 50px 0 45px;
  background-color: rgba(255, 144, 14, 0.1);
}
/* nav starts */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2.8rem;
  font-weight: bold;
}
.nav-menu ul {
  display: flex;
  gap: 75px;
}
.nav-menu ul a {
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
}
/* nav ends */
/* header ends */
