* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
#our-features,
#lovely-features,
#some-facts,
#our-sponsors,
footer {
  padding: 65px 0;
}
.section-heading {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 24px;
  color: #131313;
}
.primary-color {
  color: #ff900e;
}
.thin-45-d3 {
  color: #727272;
  font-weight: 500;
}
.dark-1 {
  color: #131313;
}
.dark-2 {
  color: #424242;
}
.dark-3 {
  color: #727272;
  line-height: 26px;
}
.btn {
  color: white;
  font-weight: 600;
  font-size: 20px;
  background-color: #ff900e;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.25s ease,
    box-shadow 0.25s ease;
}
.btn:hover {
  background-color: #ffa231;
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.116);
}
/* header starts */
header {
  padding: 50px 0 45px;
  background-color: rgba(255, 144, 14, 0.1);
}
/* nav starts */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2.8rem;
  font-weight: bold;
}
.nav-menu ul {
  display: flex;
  gap: 75px;
}
.nav-menu ul a {
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
}
.nav-menu ul a:hover {
  text-decoration: 2px underline #ff900e;
  text-underline-offset: 5px;
}
/* nav ends */

/* hero section starts */
#hero {
  text-align: center;
  padding-top: 100px;
}
.hero-contents {
  max-width: 868px;
  margin: 0 auto 50px;
}
.hero-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.hero-desc {
  margin-bottom: 32px;
}
.hero-banner {
  margin: auto 10px;
}
.hero-banner img {
  border-radius: 8px;
}
/* hero section ends */
/* header ends */

/* our-features section starts */
.our-features-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features-contents {
  max-width: 535px;
  width: 100%;
}
.section-desc {
  margin-bottom: 32px;
}
/* our-features section ends */

/* lovely-features starts */
.lovely-features-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lovely-features-contents {
  max-width: 586px;
}
.section-heading {
  padding-left: 20px;
  border-left: 5px solid #ff900e;
}
.lovely-features-cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features-card {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.features-card-title {
  color: #131313;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.lovely-features-image {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

}
.lovely-features-image img {
  width: 700px;
  width: 100%;
}
.architect-image-badge {
  color: white;
  font-weight: bold;
  font-size: 4rem;
  background-color: #ff900e;
  padding: 45px 40px;
  border-radius: 8px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  margin-top: -100px;
  margin-left: -100px;
  align-self: self-start;
}
.architect-image-badge .small-text {
  font-size: 1.5rem;
  font-weight: 500;
}
/* lovely-features ends */
